@media (max-width: 1024px) {
    .navigation{
        display: none;
        
        
    }
    .navigation.nav-active{
        display: block;
        margin-top: 20px;
    }
    .burger{
        display:block;
    }
    .header-wrapper{
        flex-direction: column;
        
    }
    .ul-li{
        flex-direction: column;
        align-items: center;
    }
    .about-wrapper{
        flex-wrap: wrap;
    }
    .about-banner{
        margin-bottom: 55px;
    }
    .gym-wrapper{
        flex-wrap: wrap;
        justify-content: center;
          
    }
    .gym-image{
        margin-bottom: 50px;
    }
    .gym-text{
        align-items: center;
        margin-left: 90px;
    }
    .pool-wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
    .pool-text p{
        margin-left: 70px;
    }
    .pool-text{
        align-items: center;
        margin-top: 50px;
    }
    .pool-p{
        margin-bottom: 35px;
    }

    
    
    
}

@media (max-width: 950px) {
    .image-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .spa{
        margin-top: 55px;
    }
    .footer-wrapper{
        flex-direction: column;
    }
    .symbols{
        margin-top: 50px;
    }
    
}
@media (max-width: 481px) {
    .text-wrapper{
        text-align: center;
    }
    .gym, .spa{
        width: 350px;

    }
    .text1{
        width: 350px;

    }
    .about-banner{
        width: 400px;
    }
    .about-text-wrapper{
        width: 300px;
    }
    .gym-image{
        width: 350px;
    }
    .pool-image{
        width: 350px;
    }
    .li-footer-list:hover{
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .text-wrapper h1{
        font-size: 25px;
    }
    .gym, .spa{
        width: 250px;
        
    }
    .text1{
        width: 250px;
        
    }
    .ul-footer{
        flex-direction: column;
        align-items: center;
    }
    .about-banner {
        width: 250px;
    }
    .about-text-wrapper{
        width: 250px;
    }
    .gym-image{
        width: 250px;
    }
    .gym-p{
        width: 250px;
        
    }
    
    
}



