/* header styles */
:root {
    --white: #fff;
    --blue: #065754;
}

.fa-person-swimming{
    font-size: 45px;
    color: #fff;
}
.fa-house{
    font-size: 17px;
    color: var(--blue);
}
.fa-dumbbell{
    font-size: 17px;
    color: var(--blue);
}
.fa-people-group{
    font-size: 17px;
    color: var(--blue);
}
.fa-water-ladder{
    font-size: 17px;
    color: var(--blue);

}
.fa-spa{
    font-size: 17px;
    color: var(--blue);
}
.fa-phone{
    font-size: 17px;
    color: var(--blue); 
}
.fa-arrow-right-to-bracket{
    font-size: 17px;
    color: var(--blue);

}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 45px;
    position: relative;
    background: rgb(149,144,144);
    background: linear-gradient(90deg, rgba(149,144,144,1) 3%, rgba(0,212,255,1) 44%, rgba(16,108,126,1) 100%);
}
.ul-li{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    
    
}

.nav-li{
    font-size: 17px;
    font-family: 'Poppins';
    text-transform: uppercase;
    color: var(--white);
    transition: all 0.5s ease;
    
}
.nav-li:hover{
    font-size: 18px;
    
    color: red;

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 7;
    
    
}
body{
    padding-top: 69px;
      
}

/* burger styles */
.burger{
    color: var(--white);
    font-size: 22px;
    position: absolute;
    top: 23px;
    right: 30px;
    cursor: pointer;
    display: none;

}

/* main-banner styles */
.main-banner{
    background-image: url(../images/main-banner.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
   
}

.image-wrapper{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.gym{
    max-width: 450px;
    width: 100%;
    border-radius: 15px;
    

}
.spa{
    max-width: 450px;
    width: 100%;
    border-radius: 15px;
    
    
}

.text-wrapper{
    max-width: 1024;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    

}
.text-wrapper h1 {
    font-family: 'Poppins';
    font-size: 55px;
    color: #0D98BA;
    text-transform: uppercase;
    
    
    

}
.text1{
    max-width: 450px;
    width: 100%;
    text-align: justify;
    font-family: 'Poppins';
    font-size: 15px;
    color: grey;
    margin-top: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
    
}

/* footer styles */

.footer{
    width: 100%;
    background: rgb(5,17,50);
    background: linear-gradient(90deg, rgba(5,17,50,1) 2%, rgba(0,212,255,1) 48%, rgba(16,108,126,1) 100%);
    
    
}
.footer-wrapper{
    /* max-width: 1024px;
    width: 100%; */
    padding: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}
.li-footer-list{
    font-family: 'Poppins';
    color: var(--white);
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.5s ease;

}
.li-footer-list:hover{
    font-size: 18px;
    
    color: red;
}
.ul-footer{
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    
}
.fa-facebook{
    color: var(--white);
    font-size: 35px;
}
.fa-facebook:hover{
    color: red;
    font-size: 40px;
}

.fa-instagram {
    color: var(--white);
    font-size: 35px;
}
.fa-instagram:hover{
    color: red;
    font-size: 40px;
}
.fa-twitter{
    color: var(--white);
    font-size: 35px;
}
.fa-twitter:hover{
    color: red;
    font-size: 40px;
}
.symbols{
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: all 2s ease;

}

/* about us styles */
.about-banner{
    max-width: 700px;
    width: 100%;
    
    
}
.outside{
    width: 100%;
    border-radius: 15px;
}
.about-wrapper{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-text-wrapper p{
    max-width: 500px;
    font-size: 12px;
    font-family: 'Poppins';
    text-transform: uppercase;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 2;
    margin-top: 10px;
}
.about-text-wrapper h2{
    font-family: 'Poppins';
    font-size: 15px;
    text-transform: uppercase;
    
}
/* gym styles */
.gym-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: 40px;
    
}
.gym-p{
    max-width: 500px;
    font-size: 12px;
    font-family: 'Poppins';
    text-transform: uppercase;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 2;
    margin-top: 10px;
}
.gym-image{
    max-width: 700px;
    width: 100%;
}
.gym-image img{
    width: 100%;
    border-radius: 15px;
}
.gym-text{
    display: flex;
    flex-direction: column;
    margin-right: 90px;
}
.gym-text h2{
    font-family: 'Poppins';
    font-size: 15px;
    text-transform: uppercase;
}
.gym-p2{
    max-width: 500px;
    font-size: 12px;
    font-family: 'Poppins';
    text-transform: uppercase;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 2;
    margin-top: 10px;
} 
/* pool styles */
.pool-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: 40px;
}
.pool-image{
    max-width: 700px;
    width: 100%;
}
.pool-image img{
    width: 100%;
    border-radius: 15px;
}
.pool-text{
    display: flex;
    flex-direction: column;
}
.pool-text h2{
    font-family: 'Poppins';
    font-size: 15px;
    text-transform: uppercase;
}
.pool-text p {
    max-width: 500px;
    font-size: 12px;
    font-family: 'Poppins';
    text-transform: uppercase;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 2;
    margin-top: 10px;
    margin-right: 70px;
}
/* spa styles */
.spa-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-top: 90px;
    margin-bottom: 90px;
}
.spa-image {
    max-width: 700px;
    width: 100%;
    
}
.spa-image img{
    width: 100%;
    border-radius: 15px;
}
.spa-ul{
    display: flex;
    flex-direction: column;
    margin-right: 120px;
}
.spa-ul-li{
    font-size: 12px;
    font-family: 'Poppins';
    text-transform: uppercase;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 2;

}
.spa-ul h2{
    font-family: 'Poppins';
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 35px;
}