/* header styles */
.fa-person-swimming{
    font-size: 45px;
    color: #fff;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    padding: 12px 45px;
    position: relative;
}
.ul-li{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    color: white;
    
}
.li-list{
    font-size: 22px;
    font-family: 'Poppins';
    text-transform: uppercase;
}
.nav-li{
    color: white;
    
}

.header{
    position: fixed;
    width: 100%;
}
.body{
    padding: 69px;
}

/* burger styles */
.burger{
    color: #fff;
    font-size: 22px;
    position: absolute;
    top: 23px;
    right: 30px;
    cursor: pointer;
    display: none;

}

/* main-banner styles */
.main-banner{
    background-image: url(../images/main-banner.jpg);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
}

.image-wrapper{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.gym{
    max-width: 450px;
    width: 100%;
    

}
.spa{
    max-width: 450px;
    width: 100%;
    
    
}

.text-wrapper{
    max-width: 1024;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    

}
.text-wrapper h1 {
    font-family: 'Poppins';
    font-size: 55px;
    color: red;
    text-transform: uppercase;
    

}
.text1{
    max-width: 450px;
    width: 100%;
    text-align: center;
    font-family: 'Poppins';
    font-size: 15px;
    color: grey;
    margin-top: 20px;
    
}

